body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background: #f2f2f2;
  margin: 2em auto;
  padding: 0 1em;
  width: 600px;
  max-width: 1000px;
}

.name {
  margin: 0 0 0.5em 0;
  font-weight: bold;
  font-size: 150%;
  word-wrap: break-word;
}

table {
  min-width: 600px;
  border-collapse: collapse;
}

table tr.desc td {
  padding-bottom: 0.5em;
}

table td {
  border-bottom: 1px solid #ddd;
}

table td.field {
  text-align: right;
  font-weight: bold;
  padding-right: 1em;
  vertical-align: top;
}

table td.value div {
  word-wrap: break-word;
  max-width: 450px;
}

table td.fields-header {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1em;
  border-bottom: 1px solid #444;
}