body {
  font-family: 'Lucida Grande',Tahoma,Arial,Liberation Sans,FreeSans,sans-serif;
  background: url(textile.png);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#wrapper button, #wrapper input[type="button"], #wrapper input[type="file"] {
  font-size: 11px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  background: #eee;
  z-index: 10;
}

.shadow {
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
}
.big-shadow {
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.6);
}
.ui-sortable-helper {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.inset-shadow {
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tracks {
  margin-right: 1em;
}

#track-picker {
  display: none;
  position: absolute;
  width: 350px;
  z-index: 1000;
}

.picker {
  background: white;
}
.picker .search-bar {
  position: relative;
}
.picker .search-bar input {
  width: 100%;
  margin: 0;
}
.picker .search-bar input.search {
  padding-left: 24px;
  padding-right: 5px;
  font-size: 13px;
  line-height: 20px;
  border: none;
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.search-icon {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 9px;
  width: 12px;
  height: 12px;
  background: url('magnifying-glass.png');
}
.picker ul {
  max-height: 500px;
  overflow-y: auto;
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
  font-size: 0.8em;
}
/* The following is a valiant attempt to keep auto-hiding scrollbars in Webkit for OSX >10.7 in check */
/* http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-trackpad-users-in-webkit */
.picker ul::-webkit-scrollbar, select::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}
.picker ul::-webkit-scrollbar-thumb, select::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
.category-header {
  background: #999;
  margin: 0;
  padding: 4px 0 4px 8px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.picker .category-header { 
  text-transform: uppercase;
  font-size: 80%;
}
.picker .choice { clear: both; }
.picker .choice * { cursor: pointer; }
.picker .choice a.clickable { text-decoration: none; }
.picker .choice .clickable { display: block; padding: 0.3em 6px; }
.picker .choice .more { display: none; font-size: 0.8em; font-weight: normal; padding-top: 2px; color: #346; }
.picker .choice .clickable.hover { background: #f3f6fa; }
.picker .choice .clickable.hover .more { display: block; float: right; }
.picker .choice input { float: left; }
.picker .choice .desc { width: 99%; }
.picker .button-line { text-align: center; margin: 0em; }
.choice .name {
  font-weight: bold;
  font-size: 90%;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.picker .choice a.hover .name { text-decoration: underline; }
.choice .long-desc {
  display: block;
  font-size: 70%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.6;
}
.picker .search-warn {
  font-size: 90%;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
  margin: 0 6px;
  padding: 4px 0;
  border-top: 1px solid #ccc;
}
.picker .form-line {
  margin: 0 0.5em;
  font-size: 0.8em;
  clear: both;
}
.picker .form-line strong {
  float: left;
  text-align: right;
  margin: 0.2em 0.5em 0 0;
  width: 20%;
}

#custom-tracks {
  margin-right: 1em;
}
#custom-picker {
  display: none;
  position: absolute;
  width: 350px;
  z-index: 1000;
}
#custom-picker .choice {
  position: relative;
}
#custom-picker ul {
  margin-bottom: 10px;
}
#custom-picker .opts {
  position: absolute;
  right: 0;
  top: 6px;
}
#custom-picker .opts img { 
  vertical-align: top;
  padding: 2px 0 2px 0;
  border: none;
}
#custom-picker .help-line {
  padding: 0.3em 0.8em 0.7em;
  font-size: 0.6em;
  color: #999;
  text-align: center;
  clear: both;
}
#custom-picker .help-line.indented {
  padding-left: 24%;
  text-align: left;
}
.spinner {
  display: none;
  margin-top: 4px;
  float: right;
  width: 16px;
  height: 16px;
  background: white url(loading-sm.gif) center center no-repeat;
}
#custom-picker .form-line input.url {
  width: 200px;
  font-size: 0.8em;
}
#custom-picker .form-line textarea.paste {
  width: 200px;
  height: 3em;
  font-size: 0.8em;
  float: left;
  white-space: nowrap;
  overflow: scroll;
}

#loc {
  width: 150px;
}
#loc-picker {
  display: none;
  position: absolute;
  left: 0px;
  top: 20px;
  width: 400px;
  z-index: 1001;
}
#loc-picker.loading {
  height: 17px;
  background: white url(loading.gif) center 5px no-repeat;
  padding-top: 38px;
  text-align: center;
  font-size: 70%;
  color: #aaa;
}
#loc-picker.loading::before {
  content: "one moment, searching...";
}
#loc-picker.no-results {
  height: 55px;
  text-align: center;
  color: #aaa;
  line-height: 55px;
}
#loc-picker.no-results::before {
  content: "no search results";
}
#loc-picker .category-header {
  display: block;
  margin: 0;
  padding: 3px 0 3px 6px;
  font-size: 70%;
}
#loc-picker .choice {
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 2px 5px;
}
#loc-picker .choice .name .alt-name {
  font-weight: normal;
  margin-left: 1em;
  font-size: 80%;
  opacity: 0.6;
}
#loc-picker .choice .name .alt-name::before { content: "("; }
#loc-picker .choice .name .alt-name::after { content: ")"; }
#loc-picker .choice.focus {
  outline: none;
  color: white;
  border-top-color: #1292DB !important;
  border-bottom-color: #007AD2 !important;
  background: #3973D6;
  background: -webkit-gradient( linear, left bottom, left top, color-stop(1, #62A7E7), color-stop(0.54, #3973D6) );
  background: -moz-gradient( linear, left bottom, left top, color-stop(1, #62A7E7), color-stop(0.54, #3973D6) );
  background: -o-gradient( linear, left bottom, left top, color-stop(1, #62A7E7), color-stop(0.54, #3973D6) );
  background: -ms-gradient( linear, left bottom, left top, color-stop(1, #62A7E7), color-stop(0.54, #3973D6) );
  background: gradient( linear, left bottom, left top, color-stop(1, #62A7E7), color-stop(0.54, #3973D6) );
}
#loc-picker .choice .hilite { background: #ffc; }
#loc-picker .choice.focus .hilite { background: none; }

#zoom-cont {
  position: relative;
  width: 70px;
  padding: 0 4px 0 5px;
  margin: 0.5em;
  height: 6px;
}
#zoom-cont .ticks {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 4px;
  width: 100%;
}
#zoom-cont .ticks .tick {
  float: left;
  width: 9px;
  border-left: 1px solid #ccc;
  height: 6px;
}
#zoom-cont .ticks .tick:last-child {
  width: 1px;
}
#zoom {
  width: 70px;
  background: none;
  border: none;
}
#zoom-label {
  font-size: 0.8em;
  padding-left: 1em;
}
#zoom .ui-slider-handle {
  width: 9px;
  margin-left: -6px;
  top: -0.55em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#fps {
  display: none;
  font-size: 0.5em;
  color: #777;
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 200px;
  text-align: right;
}
#line-mode {
  float: left;
  margin-left: 1.2em;
  font-size: 0.6em;
}
#navbar .ui-button { height: 21px; }
#navbar .ui-button-text { line-height: 21px; padding: 0 6px; }
#navbar .ui-button img { vertical-align: top; }
#navbar.narrow .ui-button .wide { display: none; }

#linking.ui-button { font-size: 0.7em; }
#linking img { padding: 2px 0 3px 0; border: none; }

#link-picker {
  display: none;
  position: absolute;
  width: 350px;
  right: 0;
  top: 22px;
  z-index: 1000;
  padding: 0.5em 0;
}

#link-picker .form-line strong { width: 40%; }
#link-picker .form-line .url { width: 56%; font-size: 0.8em; }
#link-picker .form-line a { font-size: 0.8em; }

#controls {
  position: absolute;
  padding: 0.2em 0;
  left: 0;
  width: 1000px;
  top: 0;
  bottom: 1px;
}
.control-seg { float: left; height: 100%; position: relative; margin-bottom: 1em; background: #eee; }
.control-seg.last { min-width: 225px; }
.narrow .control-seg.last { min-width: 120px; }

#browser {
  position: absolute;
  top: 45px;
  bottom: 50px;
  width: 100%;
  padding: 0;
}

#overlay { 
  z-index: 1000;
  display: none;
  top: -45px;
  bottom: 5px;
  height: auto;
}

#overlay-message {
  z-index: 1001;
  display: none;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -200px;
  width: 450px;
  text-align: center;
  text-shadow: 0px 0px 5px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=0);
}

#overlay-message .ui-progressbar {
  margin-top: 15px;
  height: 15px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px #000000;
  background: transparent;
  filter: dropshadow(color=#000000, offx=0, offy=0);
}

#overlay-message .ui-progressbar-value {
  border: none;
  background: white;
  border-radius: 0;
  margin: 0;
}

.browser-line {
  z-index: 0;
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0 0 0 100px;
}

.browser-line.last-resized {
  z-index: 1;
}

.browser-line .side-cont {
  position: absolute;
  left: 0;
  width: 100px;
  background: #eee;
  z-index: 2;
}

.browser-line .side, .side {
  background: #eee;
  border-bottom: #aaa solid 1px;
  border-right: #aaa solid 1px;
}

.browser-line .side .subtrack-cont { overflow: hidden; height: 100%; }

.browser-line .side .subtrack, .side .subtrack {
  text-align: right;
  font-size: 0.6em;
  padding: 0 3px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.browser-line .side .subtrack.unsized { padding-top: 1px; }

.browser-line .subtrack-cont .scales {
  position: absolute;
  left: 100px;
  top: 0;
  bottom: 0;
  width: 60px;
  color: #444;
  overflow-y: hidden;
}
.side.ui-sortable-helper .subtrack-cont .scales { display: none; }  /* hide scales while dragging track up/down */
.browser-line .subtrack-cont .scale { 
  position: absolute;
  left: 0;
  right: 0;
}
.browser-line .scale .tick {
  position: absolute;
  line-height: 5px;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  text-shadow: -1px 0 0 #FFF, 1px 0 0 #FFF, 0 1px 0 #FFF, 0 -1px 0 #FFF;
}
.browser-line .scale.tiny .tick { line-height: 3px; font-size: 7px; font-family: Verdana, 'Lucida Grande', sans-serif; }
.browser-line .scale.tiny .extra-tick { display: none; }
.browser-line .scale .tick.top { top: 0; }
.browser-line .scale .tick.bottom { bottom: 0; }
.browser-line .scale .tick.mid { margin-top: -2px; }

.browser-line .scale .tick .mark { 
  border-bottom: 1px solid #444;
  display: inline-block;
  width: 4px;
  margin-right: 1px;
}
.browser-line .scale .tick.top .mark { border-bottom: none; border-top: 1px solid #444; }
.browser-line .scale .tick.mid .mark { height: 2px; }

.browser-line .side-cont .side.ui-sortable-helper {
  border-top: #aaa solid 1px;
  border-bottom: #aaa solid 1px;
}

.browser-line .side-cont .side.placeholder {
  border-bottom: #aaa solid 1px;
}

.browser-line .side:last-child {
  border-bottom: #eee solid 1px;
}

.browser-line .side-cont .side.clipped {
  background-image: url(clipped.png);
  background-repeat: repeat-x;
  background-position: -9px bottom;
  border-bottom: rgb(255, 156, 0) solid 1px;
}

.browser-line .side-cont .side .ui-resizable-s {
  cursor: row-resize;
}
.row-resizing .side .ui-resizable-s.hover { background: none; }
.side .ui-resizable-s.hover, .row-resizing .browser-line .side-cont .resizing-side .ui-resizable-s {
  background: rgb(255, 156, 0);
  opacity: 0.5;
}

.browser-line .track-cont {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.browser-line .drag-cont {
  position: relative;
  overflow: visible;
}

.browser-line .first-label { left: 100px; }
.browser-line .first-label.occluded { display: none; }
.browser-line .first-label.no-ruler { display: none; }

.browser-line .retic {
  position: absolute;
  left: 50%;
  width: 80px;
  top: -10px;
  bottom: -10px;
  margin-left: -40px;
  z-index: 0;
  opacity: 0;
}
.browser-line .retic .c, .browser-line .retic .v {
  width: 0;
  height: 0;
  position: absolute;
}
.browser-line .retic .ne { 
  right: 0; 
  border-top: 10px solid #0f0; 
  border-left: 10px solid transparent;
}
.browser-line .retic .se { 
  right: 0; 
  bottom: 0; 
  border-bottom: 10px solid #0f0; 
  border-left: 10px solid transparent;
}
.browser-line .retic .sw { 
  bottom: 0; 
  border-bottom: 10px solid #0f0; 
  border-right: 10px solid transparent;
}
.browser-line .retic .nw {
  border-top: 10px solid #0f0; 
  border-right: 10px solid transparent;
}
.browser-line .retic .n {
  height: 12px;
  top: -2px;
  left: 50%;
  font-size: 0.5em;
  color: #0f0;
  padding-left: 2px;
  border-left: 1px dotted #0f0;
  margin-left: -1px;
}
.browser-line .retic .s {
  height: 10px;
  bottom: 0px;
  left: 50%;
  border-left: 1px dotted #0f0;
  margin-left: -1px;
}
.browser-line .inner-retic {
  position: absolute;
  left: 50%;
  width: 40px;
  top: 0px;
  bottom: 0px;
  margin-left: -20px;
}

.browser-line .indices {
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  bottom: -12px;
  z-index: 0;
}
.browser-line .indices div {
  position: absolute;
  font-size: 0.5em;
  color: #FFF;
  opacity: 0.5;
}
.browser-line .indices .start { 
  top: 0;
  left: 100px;
}
.browser-line .indices .end {
  top: 0;
  right: 0;
}

.browser-line .zoom-shield {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  opacity: 0;
  z-index: 1000;
}

.browser-line .zoom-shield.hidden {
  display: none;
}

.browser-track { 
  position: relative;
}

.browser-track .tile {
  position: absolute;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid #d2d2d2;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.browser-track .tile.tile-loaded.tile-show {
  opacity: 1;
}

.browser-track .tile-blank {
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background: #ccc;
  font-size: 0.7em;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
.browser-track .tile-full {
/*  overflow: hidden; */      /* FIXME: Have to figure out whether we need this going forward! */
  background: white;
}
.browser-track:nth-child(even) .tile-full {
  background: #f3f6fa;
}
.browser-track:last-child .tile {
  border-bottom: none;
}

.browser-track .tile .tdata {
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.browser-track .tile .tdata.dens-best {
  opacity: 1;
  z-index: 2;
}
.browser-track .tile-custom .tdata.unrendered.dens-best {
  width: 100%;
  background-size: 10px 10px;
  background-attachment: fixed;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%,
      rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  animation: barberpole 1s linear infinite;
}
@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}

.browser-track .tile .labels {
  position: absolute;
  top: 0;
  left: -20%;
  width: 120%;
  pointer-events: none;  /* Disables any mouse interactions */
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.browser-track .tile .labels.dens-best {
  opacity: 1;
}
.browser-track .tile .labels.hidden {
  opacity: 0;
}

.browser-track .tile .area {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: none;
  cursor: pointer;
  font-size: 0.6em;
  position: absolute;
  z-index: 3;
  text-decoration: none;
}
.browser-track .tile .area.dens-best {
  display: block;
}
.browser-track .tile .area.flashing {
  border-top: 1px solid #ffd76e;
  border-bottom: 1px solid #ffd76e;
  background: rgba(255, 215, 110, 0.5);
}
.browser-track .tile .area.hover {
  border-top: 1px solid #0f0;
  border-bottom: 1px solid #0f0;
  background: rgba(0, 255, 0, 0.05);
}
.browser-track .tile .area.label {
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}

.browser-track .tile.clipped { border-bottom: 2px dotted rgb(255, 156, 0); }
.browser-track .tile .clip-indicator { 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  display: none;
  z-index: 10;
}

.browser-track .tile.too-many::before, .browser-track .tile.too-many::after {
  content: 'zoom in to view individual items';
  position: absolute;
  top: 20px;
  font-size: 0.7em;
  text-align: center;
}
.browser-track .tile.too-many-for-dense::before, .browser-track .tile.too-many-for-dense::after {
  content: 'too many datapoints; zoom in to view items';
  top: 3px;
}

.browser-track .tile.too-many::before {
  left: 0;
  right: 50%;
}
.browser-track .tile.too-many::after {
  left: 50%;
  right: 0;
}

.browser-track *, .side-cont .side { 
  cursor: move;
  cursor: url(openhand.cur) 8 8;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: url(css/openhand.cur);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body.dragging * {
  cursor: url(closedhand.cur) 8 8 !important;
  cursor: -webkit-grabbing !important; 
  cursor: -moz-grabbing !important;
  cursor: url(css/closedhand.cur) !important;
}

body.row-resizing * {
  cursor: row-resize !important;
}

.browser-track div.label, div.first-label {
  position: absolute;
  font-family: "helvetica neue", "helvetica", "arial", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  top: 0;
  z-index: 200;
}
.browser-track div.label .label-text, div.first-label {
  height: 25px;
  padding: 0 2px 0 3px;
  background: white;
  overflow: hidden;
}
.first-label { padding-bottom: 4px; }
.browser-track .label .chr  { display: none; }
.browser-track .label.occluded .chr  { display: inline; }
.browser-track .label .start-line { 
  position: absolute;
  height: 1000px;
  border-left: 2px solid red;
  left: 0px;
  top: 0;
}
.browser-track .label-end .start-line {
  width: 1000px;
  background: #ccc;
}

.browser-track-ruler .tile-full .tdata {
  margin-top: 20px;
}

.browser-track-ruler .tile-blank { padding-top: 10px; }
.browser-track-ruler .tile-off-l::before {
  content: 'the genome is over there \2192';
}
.browser-track-ruler .tile-off-r::before {
  content: '\2190  the genome is back there';
}

.browser-track-ruler .ticks, .browser-track-ruler .bands {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  background: white;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.browser-track-ruler .ticks.hidden, .browser-track-ruler .bands.hidden {
  opacity: 0;
}
.browser-track-ruler .bands {
  top: 23px;
}
.browser-track-ruler.ruler-collapsed .bands { display: none; }
.browser-track-ruler .tile.tile-halfway .ticks { display: none; }
.browser-track-ruler .tile.tile-halfway { opacity: 1; }


.browser-track-ruler .ntdata {
  position: absolute;
  top: 21px;
  left: 0;
  width: 100%;
}

.browser-track-ruler .tile-big-ntdata .tick { top: 0px; height: 11px; line-height: 11px; }
.browser-track-ruler .tile-big-ntdata .tick.major { top: 0px; height: 11px; line-height: 11px; }
.browser-track-ruler .tile-big-ntdata .ntdata { top: 12px; }
.browser-track-ruler .tile-overlay-ntdata .ntdata { top: 25px; border-top: 1px solid black; border-bottom: 1px solid black; }

.mono, .ui-widget .mono { font-family: 'Menlo','Bitstream Vera Sans Mono','Consolas','Lucida Console',monospace; }
.nts {
  position: absolute;
  top: 12px;
  left: 1px;
  font-size: 12px;
  color: white;
  width: 100%;
  font-family: 'Menlo','Bitstream Vera Sans Mono','Consolas','Lucida Console',monospace;
}
.tile-overlay-ntdata .nts { top: 26px; }
.browser-track-ruler.ruler-collapsed .tile-overlay-ntdata .ticks { top: -2px; }
.browser-track-ruler.ruler-collapsed .tile-overlay-ntdata .ntdata { top: 17px; }
.ruler-collapsed .tile-overlay-ntdata .nts { top: 18px; }
.browser-track-ruler .nts, .browser-track-ruler .nts * { -webkit-user-select: text; -moz-user-select: text; user-select: text; cursor: text; }
.nts *::selection { background: rgba(0, 0, 0, 1); color: #ff0;  fill: #ff0; }
.nts *::-moz-selection { background: rgba(0, 0, 0, 1); color: #ff0; fill: #ff0; }

/* ============= */
/* = Footerbar = */
/* ============= */

#footerbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55px;
  background: #333;
  background-image: -webkit-gradient(linear, 0% 20%, 0% 100%, from(transparent), to(#222));
  z-index: 10;
  -webkit-box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

#logo {
  position: absolute;
  height: 55px;
  width: 220px;
  left: 0;
  top: 0;
  background: transparent url(chromozoom.png) no-repeat 0 -7px;
}
#logo .slogan {
  font-size: 0.7em;
  color: #666;
  margin: 31px 0 0 8px;
}
#logo .slogan em { font-weight: bold; }

#footerlinks { 
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  display: table;
}

#footerlinks p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 220px;
  line-height: 1.7em;
}

#footerlinks, #footerlinks a:link {
  text-shadow: 0 1px 0 #000;
  color: #999;
  text-decoration: none;
}

#footerlinks a { white-space: nowrap; }
#footerlinks a:active { color: #999; }
#footerlinks a:visited { color: #999; text-decoration: none; }
#footerlinks a:hover { color: #ccc; text-decoration: underline; }

#genome {
  position: absolute;
  right: 0;
  width: 230px;
  margin: 0;
  top: 10px;
  padding: 4px 5px 4px 0;
  height: 22px;
}
#genome input {
  float: right;
  margin-left: 0.5em;
  opacity: 0.5;
  cursor: pointer;
}
#genome .title {
  position: absolute;
  right: 35px;
  top: 1px;
  font-size: 1.2em;
  line-height: 1em;
  margin: 0;
  color: #999;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  height: 40px;
}
#genome .description {
  position: absolute;
  right: 35px;
  top: 21px;
  font-size: 0.7em;
  margin: 0;
  color: #666;
  font-weight: normal;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
#genome-picker {
  display: none;
  position: absolute;
  right: 1px;
  bottom: 40px;
  width: 200px;
  z-index: 1000;
  padding-bottom: 0.5em;
}
#genome-picker .thats-it {
  font-style: italic;
  color: gray;
  text-align: center;
}

.picker-dark {
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgb(25,25,25);
  background-color: rgba(25,25,25,0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
  color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.7);
}
.picker-dark .divider { margin: 5px 0; border-top: 1px solid #444; }
.picker-dark .choice a { color: #ddd; }
.picker-dark .choice .clickable.hover { background: #333; }

/* ================= */
/* = Dialog panels = */
/* ================= */

#dialogs .ui-dialog { 
  z-index: 20;
  font-size: 0.8em;
  display: none;
  left: 50%;
}

#dialogs .ui-dialog-buttonpane { text-align: center; clear: both; }
#dialogs .ui-dialog-buttonpane button { font-size: 1.0em; margin-bottom: 0; }
#dialogs .ui-dialog-buttonpane label { font-weight: bold; }
#dialogs .ui-dialog-buttonpane label button { margin-left: 0.6em; }

#intro-dialog-cont {
  width: 600px;
  height: 400px;
  margin-left: -300px;
  top: 100px;
}

#intro-dialog p { text-align: center; margin: 0; }

#intro-dialog .panel-three {
  width: 180px;
  float: left;
  margin-right: 8px;
  padding: 2px;
  border: 1px solid #BBB;
  margin-bottom: 8px;
}
#intro-dialog .panel-three.last { margin-right: 0; }

#intro-dialog .intro-panel { width: 179px; height: 198px; background: transparent; }
.visible #intro-panel-1 { background-image: url(intro-panel-1.gif); }
.visible #intro-panel-2 { background-image: url(intro-panel-2.gif); }
.visible #intro-panel-3 { background-image: url(intro-panel-3.gif); }

#intro-dialog .desc {
  text-align: center;
  padding: 4px 0;
  border-top: 1px solid #DDD;
}

#intro-dialog button { font-size: 0.85em; }

#intro-dialog-cont .ui-dialog-buttonpane button { 
  font-size: 1.2em;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  position: absolute;
  line-height: 1.8em;
}

.glowing {
  -webkit-animation-name: 'glow';
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes glow { 
  from { -webkit-box-shadow: #5080a6 0 0 8px; }
  to { -webkit-box-shadow: #5080a6 0 0 0px; }
}

#intro-dialog-cont .tell-me-more {
  float: right;
  margin-top: 1.2em;
}

#binaries-warning-dialog-cont {
  width: 560px;
  margin-left: -280px;
}

#about-dialog-cont {
  margin-left: -200px;
  width: 400px;
}

#feedback-dialog-cont {
  margin-left: -300px;
  width: 600px;
}

#feedback { margin-bottom: 0; }

#custom-dialog-cont {
  margin-left: -250px;
  width: 500px;
  overflow: visible;
}
#custom-dialog { overflow: visible; }
#custom-dialog .custom-name { overflow: hidden; text-overflow: ellipsis; margin-bottom: 0.2em; }
#custom-dialog h3 { margin-top: 0; color: #777; font-weight: normal; }
.ui-dialog .form-line {
  margin: 0 0.5em;
  clear: both;
}
.ui-dialog label {
  font-weight: bold;
}
.ui-dialog .form-line label {
  float: left;
  text-align: right;
  margin: 0.2em 2% 0 0;
  width: 30%;
}
.ui-dialog .form-line .inputs {
  float: left;
  margin: 0 0 0.5em 0;
  width: 67%;
}
.ui-dialog .form-line input.full-length {
  width: 99%;
}
.ui-dialog .form-line input.sm { width: 4em; }
.ui-dialog .form-line input.chk { font-size: 150%; cursor: pointer; }
.ui-dialog .form-line input.color { width: 8em; }
.ui-dialog .form-line .disabled { opacity: 0.5; }
.ui-dialog .input-note {
  font-size: 0.8em;
  color: #999;
}
.ui-dialog .form-line .range-slider { 
  display: inline-block;
  width: 120px;
  margin: 0 15px;
}
.ui-dialog .color-picker {
  position: absolute;
  z-index: 100;
}
.ui-dialog .color-picker input {
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.ui-dialog .ui-dialog-buttonpane .left {
  float: left;
}
.ui-dialog .ui-dialog-buttonpane .right {
  float: right;
}
.ui-state-red, .ui-widget-content .ui-state-red { 
  border: 1px solid #c09999; 
  background-color: #e60000; 
  color: #550000;
  font-weight: bold;
}

#chrom-sizes-dialog-cont {
  margin-left: -250px;
  width: 500px;
  overflow: visible;
}
#chrom-sizes-dialog { overflow: visible; height: 268px; }
#chrom-sizes-dialog textarea { width: 99%; height: 90px; }
#chrom-sizes-dialog select option.hidden { display: none; }
#chrom-sizes-dialog .placeholder { color: #ccc; }
#chrom-sizes-dialog .accordion {
  height: 260px;
}
#chrom-sizes-dialog .accordion p {
  margin: 0 0 0.5em;
}
#chrom-sizes-dialog .accordion h3 {
  padding: 7px 10px 5px 25px;
}
#chrom-sizes-dialog .ui-accordion-content {
  border: none;
  padding: 10px 5px;
  margin-top: -1px;
}
#chrom-sizes-dialog .loading {
  color: #777;
  font-style: italic;
  background: url(loading-sm.gif) no-repeat top 1px right 1px;
}
#chrom-sizes-dialog .genome-list, #chrom-sizes-dialog .input-med {
  width: 300px;
}
#chrom-sizes-dialog .genome-list, #chrom-sizes-dialog .second-col {
  float: left;
}
#chrom-sizes-dialog .second-col {
  width: 150px;
  margin-left: 10px;
}
#chrom-sizes-dialog .igb-dirs, #chrom-sizes-dialog .add-igb-dir {
  margin-bottom: 2px;
}
#chrom-sizes-dialog .igb-dirs select {
  width: 95%;
  font-size: 130%;
}
#chrom-sizes-dialog .add-igb-dir {
  display: none;
}
#chrom-sizes-dialog .add-igb-dir .url {
  width: 60%;
}
#chrom-sizes-dialog .ui-state-error {
  display: none;
  padding: 3px;
  margin-top: 10px;
}
#chrom-sizes-dialog-cont .contigs-loading {
  display: none;
  font-size: 1.2em;
  font-style: italic;
  color: #777;
  margin: .7em .4em .4em .4em;
}
#chrom-sizes-dialog-cont .contigs-loading img {
  padding: 3px 0 0 3px;
  vertical-align: bottom;
}

#custom-genome-dialog-cont {
  margin-left: -250px;
  width: 500px;
  overflow: visible;
}
.ui-dialog .form-line strong {
  float: left;
  text-align: right;
  margin: 0.2em 0.5em 0 0;
  width: 20%;
}
.ui-dialog .help-line {
  padding: 0.3em 0.8em 0.7em;
  font-size: 1em;
  color: #999;
  text-align: center;
  clear: both;
}
#custom-genome-dialog-cont .url {
  width: 85%;
}

#custom-genome-dialog label {
  width: 72%;
  text-align: left;
}
#custom-genome-dialog textarea.paste {
  float: left;
}
#custom-genome-dialog input[type="file"], #custom-genome-dialog input[type="button"] {
  font-size: 1em;
}

/* ============== */
/* = tipTip CSS = */
/* ============== */

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

#tiptip_holder.tip_right {
  padding-left: 5px;
}

#tiptip_holder.tip_left {
  padding-right: 5px;
}

#tiptip_content {
  max-width: 300px;
  font-size: 11px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  padding: 4px 8px;
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgb(25,25,25);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.7);
}

#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #fff;
  border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #fff;
  border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #fff;
  border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: rgb(25,25,25);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: rgb(25,25,25);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: rgb(25,25,25);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: rgb(25,25,25);
}

#tiptip_content table {
  width: 300px;
}

#tiptip_content .name {
  font-family: "helvetica neue", "helvetica", "arial", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  word-wrap: break-word;
}

#tiptip_content table tr.desc td {
  padding-bottom: 6px;
}

#tiptip_content table td.field {
  text-align: right;
  font-weight: bold;
  padding-right: 3px;
}

#tiptip_content table td.fields-header {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 7px;
  border-top: 1px solid #444;
}

/* =============================================================== */
/* = Farbtastic Color Picker CSS, (c) 2008 Steven Wittens, GPLv2 = */
/* =============================================================== */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(marker.png) no-repeat;
}

/* ======================= */
/* = Mobile-specific CSS = */
/* ======================= */

@media all and (max-width: 768px) {
  #line-mode, #linking { display: none; }
  
  #zoom-label, #zoom-cont { display: none; }
  
  #footerbar { bottom: -55px; }
  #genome { top: -40px; }
  #genome .title, #genome .description { 
    color: #fcfcfc;
    padding-right: 2px;
    padding-bottom: 2px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 -1px 3px rgba(0, 0, 0, 0.8), 1px 0 3px rgba(0, 0, 0, 0.8), -1px 0 3px rgba(0, 0, 0, 0.8);
  }
}

@media all and (max-width: 500px) {
  #loc-picker { position: fixed; left: 0; top: 30px; width: 100%; }
  .indices .end { display: none; }
  #zoom-out, #zoom-in { display: none; }
  #navbar .picker { max-width: 315px; }
  #custom-picker { left: -53px; }
  
  .browser-line { padding-left: 60px; }
  .browser-line .side-cont { width: 60px; }
  .browser-line .subtrack-cont .scales { left: 60px; }
  .browser-line .indices .start, .browser-line .first-label { left: 60px; }
    
  #custom-dialog-cont { max-width: 314px; margin-left: -160px; }
  #chrom-sizes-dialog-cont { max-width: 314px; margin-left: -160px; }
  #custom-genome-dialog-cont { max-width: 314px; margin-left: -160px; }
  
  #chrom-sizes-dialog { height: 340px; }
  #chrom-sizes-dialog .accordion { height: 340px; }
  .contigs-loading span { display: none; }
  #chrom-sizes-dialog .genome-list, #chrom-sizes-dialog .input-med { float: none; width: 100%; }
  #chrom-sizes-dialog .second-col { float: none; margin-left: 0; width: 100%; min-height: 60px; }
  #chrom-sizes-dialog .ui-state-error { margin-top: 0px; }
  
  #custom-genome-dialog { padding: .5em 0; }
  #custom-genome-dialog strong { width: 23%; }
  #custom-genome-dialog textarea, #custom-genome-dialog .url { width: 100%; }
  
  /* Shorter navbar button text */
  #tracks .less, #custom-tracks .less { display: none; }
}

@media all and (max-width: 500px), all and (max-height: 420px) {
  #custom-picker .form-line, #custom-picker .help-line { display: none; }
}

@media all and (max-width: 376px) {
  #loc { width: 130px; }
  #genome .title { font-size: 0.8em; line-height: 2.2em; }
  
  /* Even shorter navbar button text */
  #tracks .even-less, #custom-tracks .even-less { display: none; }
}

/* ======================= */
/* = Webkit-specific CSS = */
/* ======================= */

/* Will only apply on webkit-based browsers (Chrome, Safari, etc.) */  
@media screen and (-webkit-min-device-pixel-ratio:0) {  
  #wrapper button>span { margin: 0 7px; }
}