# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
libxml2=2.9.2=0
libxslt=1.1.28=2
lxml=3.6.0=py35_0
openssl=1.0.2h=0
pymysql=0.6.7=py35_0
python=3.5.1=0
pyyaml=3.11=py35_1
readline=6.2=2
sqlite=3.9.2=0
tk=8.5.18=0
xz=5.0.5=1
zlib=1.2.8=0
